# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
__pycache__

# Large Datasets
ml-model/data/raw/*.csv
ml-model/data/processed/*.csv
*.csv

# Node / Frontend
node_modules/
dist/
.vite/

# Environment Variables & Credentials
.env
*.env
atlas-credentials.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project internal tracking documentation
projectChanges.md
